/* dark theme */
.chart-div {
    background: #1c2a35;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 99%;
}

/* dark theme */
.chart-div-light {
    background: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 99%;
}

.chart-row-div {
    margin-left: 0px;
    margin-right: 0px;
}

.chart-container-div {
    padding-left: 0px;
    padding-right: 0px;
}